/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";


ul{
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a{
  text-decoration: none;
  color: #000;
}

.font{
  font-family: "Montserrat", Serif;
}

.h2{
  font-size: 30px;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

/* .header2 */
.header{
  width: 1450px;
  height: 600px;
  background-image: url(http://lorempixel.com/1000/500/);
}

$title-color: #fff;
.wrapper {
  padding:120px 0;
  text-align: center;
  .title{
    text-transform: capitalize;
    color: $title-color;
    font-size: 4em;
  }
  .title2{
    color: $title-color;
    font-size: 1.25em;
  }
}

/* header_subtitle */

.header_subtitle{

}
  .subtitle{
    text-align: center;
    padding: 50px 0;
    font-size: 3em;
  }

/* help*/

.type{
  width: 1145px;
  margin: 20px auto 60px;
  text-transform: capitalize;
  text-align: center;

  .typeBox{
    float: left;
    width: 260px;
    height: 350px;
    margin-right: 30px;
    border: 1px solid black;
  }

  .typeBox:nth-child(4n){
    margin-right: 0;
  }

    .helpImg{
      width: 100px;
      margin: 2em auto;
      vertical-align : middle;
    }
    .helpWord{
      font-size: 2em;
      font-weight: bold;
      letter-spacing: normal;
      line-height: 24px;
      margin: 1em 0 1.5em;
    }

    .helpWord2{
      color: #7a7a7a;
      font-size: 1em;
      font-weight: normal;
      line-height: 30px;
    }
}


// copyright
.copyRight{
  box-shadow: 0 0 0.15em 0 rgba(0,0,0,0.1);
  height: 82px;
}


@media(max-width: 1000px){
  .header {
    width:600px;
  }
  .header2 {
    width:600px;
  }
  .container {
    width:600px;
  }
  .teamInfo{
    width: 600px;
  }

}

@media(max-width: 599px){
  .container{
    width:320px;
  }
  .about{
    width: 100%;
    margin-bottom: 50px;
  }
  .chart{
    width: 100%;
    margin-bottom: 50px;
  }

  .teamInfo{
    width:320px;
  }

  .memberPic{
    width:320px;
  }
  .member{
    width: 100%;
    margin-bottom: 50px;
  }

}






















