/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";


ul{
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a{
  text-decoration: none;
  color: #000;
}

.font{
  font-family: "Montserrat", Serif;
}

.h2{
  font-size: 30px;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}


/* .header2 */
.header{
  // width: 1280px;
  height: 600px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: 10% 80%;
  background-repeat: no-repeat;
}

$title-color: #fff;
.wrapper {
  padding: 180px 0;
  text-align: center;
  text-transform: capitalize;
  .title{
    color: $title-color;
    font-size: 4em;
  }
  .title2{
    color: $title-color;
    font-size: 3em;
    padding: 1em 0;
  }
}

//form
%formDetail{
  padding: 13px 15px 13px 15px;
  width: 200px;
  height: 40px;
  font-size: 15px;
  box-sizing: border-box;
  border: #e0e0e1 2px solid;
  border-radius: 0.5em;
  outline: none;
}

#name{
  @extend %formDetail;
}
#email{
  @extend %formDetail;
}

.signupButton{
  padding: 0 0 0 0px;
  background-color: #1FB45E;
  border-radius: 0.5em;
  font-size: 15px;
  width: 200px;
  height: 40px;
  color: #fff;
  border: 0;
}


/* header_subtitle */
%extendtitle{
  text-align: center;
  padding: 50px 0;
}

.header_subtitle{

}
  .subtitle{
    @extend %extendtitle;
    font-size: 2.2em;
  }

/* help*/
%exContainer{
  width: 1145px;
  margin: 20px auto 60px;
  text-transform: capitalize;
  text-align: center;
}

.type{
  @extend %exContainer;

  .typeBox{
    float: left;
    width: 260px;
    height: 350px;
    margin-right: 30px;
    // border: 1px solid black;
  }

  .typeBox2{
    float: left;
    width: 360px;
    height: 350px;
    margin-right: 30px;
    // border: 1px solid black;
  }

  .helpImg img{
    width: 110px;
    height: 110px;
  }

  .typeBox:nth-child(4n){
    margin-right: 0;
  }

   .typeBox2:nth-child(3n){
    margin-right: 0;
  }

    .helpImg{
      width: 100px;
      margin: 2em auto;
      vertical-align : middle;
    }
    .helpWord{
      font-size: 2.2em;
      font-weight: bold;
      letter-spacing: normal;
      line-height: 24px;
      margin: 1em 0 1.5em;
    }

    .helpWord2{
      color: #7a7a7a;
      font-size: 1.4em;
      font-weight: normal;
      line-height: 30px;
    }
}

// decide
.decide{
  background-color: #ff5f5f;
  // width: 1280px;
  .subtitle1{
      @extend %extendtitle;
      width: 800px;
      height: 130px;
      margin: auto;
      color: #fff;
      font-size: 2em;
      line-height: 150%;
  }
}

// FAQtitle
.faqTitle{
  background-color: #f7f7f7;
  .faqWord1{
    text-align: center;
    padding: 1em 0 0.5em;
    font-size: 3em;
    text-transform: uppercase;
  }
  .faqWord2{
    text-align: center;
    padding: 0.5em 0;
    font-size: 1.2em;
    text-transform: capitalize;
  }
}

// FAQcontent
%exfaqBoxIndex{
  text-align: left;
  float: left;
}
  .faqContainer{
    @extend %exContainer;
    .faqBox{

      float: left;
      width: 550px;
      height: 200px;
      margin-right: 30px;
    }
    .faqBox:nth-child(2n){
     margin-right: 0px;
    }
      .faqBoxInside1{
        @extend %exfaqBoxIndex;
        margin-left: 200px;

      }
      .faqBoxInside2{
        @extend %exfaqBoxIndex;
        margin-left: 120px;

      }
        .faq1{
          font-size: 2em;
          font-weight: bold;
          padding-bottom: 20px;
        }
        .faqDetail{
          font-size: 1em;
          font-weight: normal;
          line-height: 30px;
        }
  }

//answer
.answerTitle{
  font-size: 1.5em;
  padding: 50px 200px 20px;

}

.answerSub{
  // line-height: 30px;
  padding-left: 200px;

}
.answerQ{
    padding: 0 0 20px 200px;
    line-height: 20px;
  }


// copyright
.copyContent{
  box-shadow: 0 0 0.15em 0 rgba(0,0,0,0.1);
  height: 50px;
  background-color: #ff5f5f;
}
  .theme{
    width: 300px;
    padding: 10px;
  }
  .icon img{
    width: 25px;
    height: 25px;
    // display: inline;
  }


@media(max-width: 1000px){

  .header {
    width:600px;
  }
  .header_subtitle{
    width:600px;
  }
  .help {
    width:600px;
  }
  .decide{
    width: 600px;
  }
  .faqTitle{
    width: 600px;
  }
  .faqContent{
    width: 600px;
  }

}

@media(max-width: 599px){
  .header{
    width:320px;
  }
  .about{
    width: 100%;
    margin-bottom: 50px;
  }
  .chart{
    width: 100%;
    margin-bottom: 50px;
  }

  .teamInfo{
    width:320px;
  }

  .memberPic{
    width:320px;
  }
  .typeBox{
    width: 100%;
    margin-bottom: 50px;
  }

}






















