/* top container */

.topContainer{
  width: 50%;
  margin: auto;
}

.firContainer{
  width: 80%;
  padding: 2em 0;
  margin: auto;
}

/* teacher's names */
#entry_1343413944{
  width: 250px;
  height: 40px;
  font-size: 15px;
  box-sizing: border-box;
  border: #e0e0e1 2px solid;
  border-radius: 0.5em;
}

.subtitle .subtitle1 {
  text-align: center;
  padding: 50px 0;
}

.subtitle {
  text-align: center;
  font-size: 3em;
  padding: 50px 0;
}
.subtitle1 {
  text-align: center;size: ;
  font-size: 2em;
  padding: 20px 0;
  text-transform: capitalize;
}


.jfk-button{
  padding: 0 0 0 0px;
  background-color: #1FB45E;
  border-radius: 0.5em;
  font-size: 15px;
  width: 200px;
  height: 40px;
  color: #fff;
  border: 0;
}

