/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

/* line 16, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #000;
}

/* line 21, ../sass/screen.scss */
.font {
  font-family: Raleway;
}

/* line 25, ../sass/screen.scss */
.h2 {
  font-size: 30px;
}

/* line 29, ../sass/screen.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* .header2 */
/* line 37, ../sass/screen.scss */
.header {
  height: 600px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: 10% 80%;
  background-repeat: no-repeat;
}

/* line 47, ../sass/screen.scss */
.wrapper {
  padding: 180px 0;
  text-align: center;
  text-transform: capitalize;
}
/* line 51, ../sass/screen.scss */
.wrapper .title {
  color: #fff;
  font-size: 4em;
}
/* line 55, ../sass/screen.scss */
.wrapper .title2 {
  color: #fff;
  font-size: 3em;
  padding: 1em 0;
}

/* line 63, ../sass/screen.scss */
#name, #email {
  padding: 13px 15px 13px 15px;
  width: 200px;
  height: 40px;
  font-size: 15px;
  box-sizing: border-box;
  border: #e0e0e1 2px solid;
  border-radius: 0.5em;
  outline: none;
}

/* line 81, ../sass/screen.scss */
.signupButton {
  padding: 0 0 0 0px;
  background-color: #1FB45E;
  border-radius: 0.5em;
  font-size: 15px;
  width: 200px;
  height: 40px;
  color: #fff;
  border: 0;
}

/* header_subtitle */
/* line 94, ../sass/screen.scss */
.subtitle, .decide .subtitle1 {
  text-align: center;
  padding: 50px 0;
}

/* line 102, ../sass/screen.scss */
.subtitle {
  font-size: 2.2em;
}

/* help*/
/* line 108, ../sass/screen.scss */
.type, .faqContainer {
  width: 1145px;
  margin: 20px auto 60px;
  text-transform: capitalize;
  text-align: center;
}

/* line 118, ../sass/screen.scss */
.type .typeBox {
  float: left;
  width: 260px;
  height: 350px;
  margin-right: 30px;
}
/* line 126, ../sass/screen.scss */
.type .helpImg img {
  width: 110px;
  height: 110px;
}
/* line 131, ../sass/screen.scss */
.type .typeBox:nth-child(4n) {
  margin-right: 0;
}
/* line 135, ../sass/screen.scss */
.type .helpImg {
  width: 100px;
  margin: 2em auto;
  vertical-align: middle;
}
/* line 140, ../sass/screen.scss */
.type .helpWord {
  font-size: 2.2em;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 24px;
  margin: 1em 0 1.5em;
}
/* line 148, ../sass/screen.scss */
.type .helpWord2 {
  color: #7a7a7a;
  font-size: 1.4em;
  font-weight: normal;
  line-height: 30px;
}

/* line 157, ../sass/screen.scss */
.decide {
  background-color: #ff5f5f;
}
/* line 160, ../sass/screen.scss */
.decide .subtitle1 {
  width: 800px;
  height: 130px;
  margin: auto;
  color: #fff;
  font-size: 2em;
  line-height: 150%;
}

/* line 171, ../sass/screen.scss */
.subtitle1 {
  text-align: center;
  padding: 50px 0 10px;
}

/* line 179, ../sass/screen.scss */
.subtitle1 {
  font-size: 2.2em;
}

/* line 189, ../sass/screen.scss */
.type .typeBox2 {
  float: left;
  width: 360px;
  height: 250px;
  margin-right: 30px;
}
/* line 196, ../sass/screen.scss */
.type .typeBox2:nth-child(3n) {
  margin-right: 0;
}
/* line 200, ../sass/screen.scss */
.type .helpImg2 {
  float: left;
  width: 120px;
  height: 250px;
  padding: 60px 0;
}
/* line 209, ../sass/screen.scss */
.type .helpImg2 img {
  width: 110px;
  height: 110px;
}
/* line 215, ../sass/screen.scss */
.type .typeW {
  float: left;
  width: 240px;
  height: 250px;
  padding: 50px 0;
}
/* line 221, ../sass/screen.scss */
.type .helpWord3 {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 24px;
  margin: 1em 0 1em;
  top: calc(50%);
}
/* line 230, ../sass/screen.scss */
.type .helpWord4 {
  color: #7a7a7a;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 30px;
}

/* line 242, ../sass/screen.scss */
.faqTitle {
  background-color: #f7f7f7;
}
/* line 244, ../sass/screen.scss */
.faqTitle .faqWord1 {
  text-align: center;
  padding: 1em 0 0.5em;
  font-size: 3em;
  text-transform: uppercase;
}
/* line 250, ../sass/screen.scss */
.faqTitle .faqWord2 {
  text-align: center;
  padding: 0 0 1em;
  font-size: 1.5em;
  text-transform: capitalize;
}

/* line 259, ../sass/screen.scss */
.faqContainer .faqBoxInside1, .faqContainer .faqBoxInside2 {
  text-align: left;
  float: left;
}

/* line 263, ../sass/screen.scss */
.faqContainer {
  padding-top: 50px;
  margin: 0 auto 30px;
}
/* line 268, ../sass/screen.scss */
.faqContainer .faqBox {
  float: left;
  width: 550px;
  height: 180px;
  margin-right: 30px;
}
/* line 275, ../sass/screen.scss */
.faqContainer .faqBox:nth-child(2n) {
  margin-right: 0px;
}
/* line 278, ../sass/screen.scss */
.faqContainer .faqBoxInside1 {
  margin-left: 200px;
}
/* line 283, ../sass/screen.scss */
.faqContainer .faqBoxInside2 {
  margin-left: 120px;
}
/* line 288, ../sass/screen.scss */
.faqContainer .faq1 {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 20px;
}
/* line 293, ../sass/screen.scss */
.faqContainer .faqDetail {
  font-size: 1em;
  font-weight: normal;
  line-height: 30px;
}

/* line 301, ../sass/screen.scss */
.answerTitle {
  font-size: 1.8em;
  font-weight: bold;
  padding: 50px 200px 20px;
}

/* line 308, ../sass/screen.scss */
.answerSub {
  padding-left: 200px;
}

/* line 313, ../sass/screen.scss */
.answerQ {
  padding: 0 0 20px 200px;
  line-height: 20px;
}

/* line 318, ../sass/screen.scss */
.white {
  height: 60px;
}

/* line 323, ../sass/screen.scss */
.copyContent {
  box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
  height: 50px;
  background-color: #ff5f5f;
}

/* line 328, ../sass/screen.scss */
.theme {
  width: 300px;
  padding: 10px;
}

/* line 332, ../sass/screen.scss */
.icon img {
  width: 25px;
  height: 25px;
}

@media (max-width: 1000px) {
  /* line 341, ../sass/screen.scss */
  .header {
    width: 600px;
  }

  /* line 344, ../sass/screen.scss */
  .header_subtitle {
    width: 600px;
  }

  /* line 347, ../sass/screen.scss */
  .help {
    width: 600px;
  }

  /* line 350, ../sass/screen.scss */
  .decide {
    width: 600px;
  }

  /* line 353, ../sass/screen.scss */
  .faqTitle {
    width: 600px;
  }

  /* line 356, ../sass/screen.scss */
  .faqContent {
    width: 600px;
  }
}
@media (max-width: 599px) {
  /* line 363, ../sass/screen.scss */
  .header {
    width: 320px;
  }

  /* line 366, ../sass/screen.scss */
  .about {
    width: 100%;
    margin-bottom: 50px;
  }

  /* line 370, ../sass/screen.scss */
  .chart {
    width: 100%;
    margin-bottom: 50px;
  }

  /* line 375, ../sass/screen.scss */
  .teamInfo {
    width: 320px;
  }

  /* line 379, ../sass/screen.scss */
  .memberPic {
    width: 320px;
  }

  /* line 382, ../sass/screen.scss */
  .typeBox {
    width: 100%;
    margin-bottom: 50px;
  }
}
